*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
#*.jpg
#*.png
*.pdf

Arquivos/
PublishProfiles/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
.idea/
bin/
[Oo]bj/
[Oo]bj/

# dependencies
/*node_modules*/
/*bin*/
/*obj*/
/*.vs*/
.gitattributes/

[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
appsettings.json
appsettings.Development.json

# Visual Studio
.vs/

# JetBrains Rider
*.json
*.swp
*.sln      
*.csproj   
*.vbproj   
*.vcxproj   
*.vcproj    
*.dbproj    
*.fsproj  
*.wixproj   
*.modelproj 
*.sqlproj   
*.wwaproj   